<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>DatabridgeServlet</display-name>
  <description>Databridge Dummy Servlet</description>
  <servlet>
    <servlet-name>databridgeServlet</servlet-name>
    <servlet-class>com.oncecorp.visa3d.bridge.startup.DatabridgeServlet</servlet-class>
    <init-param>
        <param-name>fromFile</param-name>
		<!-- This is always true as now we only use xml configuration file -->
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>fileName</param-name>
        <param-value>/bea/wlserver6.1/config/oncecorp/mpi-databridge.xml</param-value>
    </init-param>
	<!-- The following parameters maybe need if the default server context is not available
	<init-param>
		<param-name>java.naming.factory.initial</param-name>
		<param-value>weblogic.jndi.WLInitialContextFactory</param-value>
	</init-param>
	<init-param>
		<param-name>java.naming.provider.url</param-name>
		<param-value>t3://localhost:7001</param-value>
	</init-param>
	<init-param>
		<param-name>java.naming.security.principal</param-name>
		<param-value>system</param-value>
	</init-param>
	<init-param>
		<param-name>java.naming.security.credentials</param-name>
		<param-value>password</param-value>
	</init-param>
	-->

	<!-- ========================================================================================= -->
	<!-- Parameters that configures teh database access for the Merchant Configuration information -->
	<!-- This part is optional, if the datasource on the server is not defined, we use this;       -->
	<!-- otherwise this part will be ignored                                                       -->
	<!-- ========================================================================================= -->
	<init-param>
		<param-name>merchant.dao.jdbc.driver</param-name>
		<param-value>_to_be_configured_</param-value>
	</init-param>
	<init-param>
		<param-name>merchant.dao.db.url</param-name>
		<param-value>_to_be_configured_</param-value>
	</init-param>
	<init-param>
		<param-name>merchant.dao.db.username</param-name>
		<param-value>_to_be_configured_</param-value>
	</init-param>
	<init-param>
		<param-name>merchant.dao.db.password</param-name>
		<param-value>_to_be_configured_</param-value>
	</init-param>
	<init-param>
		<param-name>merchant.dao.db.schema</param-name>
		<param-value>core</param-value>
	</init-param>
	<init-param>
		<param-name>merchant.dao.db.table</param-name>
		<param-value>merchant</param-value>
	</init-param>

    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>databridgeServlet</servlet-name>
    <url-pattern>/databridgeServlet</url-pattern>
  </servlet-mapping>
</web-app>
